@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Murecho&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flexbox;
}

header {
  
  display: flex;
  align-items: center;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px; 
  background-color: white;
}

.logopic {
  margin-right: auto;
  margin-left: 50px;
  width: 50px;
}

/* Style Nav lists*/
.nav-links li {
  font-family: "oswald", sans-serif;
  display: inline-block;
  padding: 0px 20px;
  margin-right: 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: black;
  text-decoration: none;
}

.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(243, 148, 6);
  text-decoration: underline;
}

h6 {
  font-family: "oswald", sans-serif;
  font-size: 25px;
  margin-right: 800px;
  margin-left: 0px;
  color: black;
}

/* change background color and center text*/
main {
  background-color: #4799b8;
  margin-top: 0px;
  text-align: center;

}
/*Style the headers*/
h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -5px;
  font-family: "murecho", sans-serif;
}
h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "murecho", sans-serif;
}

h3, h4 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  font-family: "murecho", sans-serif;
}

.mainpic {
  width: 250px;
  text-align: center;
}

.intro {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  padding-bottom: 20px;;
  margin-bottom: 10px;
  font-family: "murecho", sans-serif;
}

/*About Me Section*/
.about {
  color: rgb(3, 3, 46);
  font-size: 20px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  font-family: "murecho", sans-serif;
  background-color: white;
}

.headings {
  font-family: "murecho", sans-serif;
  color: rgb(3, 3, 46);
  font-size: 40px;
  margin-top: 0px;
  text-align: center;

  background-color: white;
}

.list {
font-family: "murecho", sans-serif;
  color: rgb(3, 3, 46);
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  list-style: inside;
  background-color: white; 
}

.logo2 {
  width: 200px;
  margin-top: 10px;
}

/*Style Footer*/
footer {
  font-family: "murech0", sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  padding-top: 20px;
  height: 215px;
  text-align: center;
  background-color: rgb(2, 2, 29);
}
/*Nav Links in Footer*/
.nav-links2 li {
    padding: 0px 20px;
    margin-right: 0px;
    text-align: center;
  }
  
  .nav-links2 li a {
    transition: all 0.3s ease 0s;
    color: #4faacd;
    text-decoration: none;
  }
  
  .nav-links2 li a:hover {
    transition: all 0.3s ease 0s;
    color: rgb(243, 148, 6);
    text-decoration: underline;
  }
    @media only screen and (max-width:700px);

