@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Murecho&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  
  display: flex;
  align-items: center;
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px; 
  background-color: white;
}

li,
a button {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(8, 8, 8);
}

.logopic {
  margin-right: auto;
  margin-left: 50px;
  width: 50px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  margin-right: 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: black;
  text-decoration: none;
}

.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(243, 148, 6);
  text-decoration: underline;
}

button {
  margin-right: 50px;
  margin-left: 10px 10%;
  padding: 9px 25px;
  background-color: rgb(243, 148, 6);
  border: none;
  border-radius: 50px;

  transition: all 0.3s ease 0s;
}

h2 {
  font-family: "oswald", sans-serif;
  margin-right: 750px;
  margin-left: 0px;
  color: black;
}

main {
  background-color: #4faacd;
  margin-top: 0px;

}

h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -5px;
  font-family: "murecho", sans-serif;
}
h3 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "murecho", sans-serif;
}

h4 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  font-family: "murecho", sans-serif;
}

.mainpic {
  width: 250px;
  text-align: center;
}

.intro {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 250px;
  margin-right: 200px;
  margin-top: 0px;
  font-family: "murecho", sans-serif;
  height: 100px;
}



.about {
  color: rgb(3, 3, 46);
  font-size: 20px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  font-family: "murecho", sans-serif;
  background-color: white;
}

.headings {
  font-family: "murecho", sans-serif;
  color: rgb(3, 3, 46);
  font-size: 40px;
  margin-top: 0px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
}

.list {
font-family: "murecho", sans-serif;
  color: pink;
  font-size: 40px;
  margin-top: 0px;
  text-align: center;
  list-style: inside;
  background-color: white; 
}

.logo2 {
  width: 200px;
  margin-top: 10px;
}

.bottom-buttons {
  font-family: "murecho", sans-serif;
  color: rgb(3, 3, 46);
  font-size: 20px;
  border-radius: 10px;
  margin-top: 0px;
  text-align: center;
}

footer {
  font-family: "murech0", sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  height: 200px;
  background-color: rgb(2, 2, 29);
}
